/* body{ margin: 0px;} */

.header {
    text-align: right;
    margin: 21px;
}

.header-adv{
    display: flex;
    align-items: center;
    padding: 16px 8px 14px 8px;
}

.links-adv {
    margin-left: auto;
    text-align: right;
}

.nav-links {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 13px;
    padding: 7.5px;
    text-decoration: none;
}

.nav-links:hover {text-decoration: underline;}

#SmallLogo{
    padding-left: 12px;
    margin-top: 6px;
}

.label{
    text-align: left;
    color: #d93025;
    font-size: 20px;
    padding: 25px 35px;
    border-bottom: 1px solid #ebebeb;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

.image {
    margin: 0 auto;
    background-size: 272px 92px;
    height: 92px;
    width: 272px;
    background-image: url(https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png);
    background-repeat: no-repeat;
}

#subtext {
    color: #4285f4;
    font: 16px roboto-regular, arial, sans-serif;
    position: relative;
    left: 215px;
    top: 76px;
}

.search-bar {
    text-align: center;   
    position: relative;
    margin: 0 auto; 
    max-width: 584px;
    padding: 20px;
}
.text-bar {
    display: flex;
    border: 1px solid #dfe1e5;
    padding-inline: 14px;
    background: #fff;
    border-radius: 24px;
    height: 44px;
    margin-bottom: 18px;
    margin-top: 1px;
}
.text-bar:hover {box-shadow: 0 1px 6px rgb(32 33 36 / 28%);}

.search {
    border: none;
    background: transparent;
    padding-right: 15px;
    width: 100%; 
    font-size: 16px;
}

svg {
    color: #9aa0a6;
    fill: currentColor;
    height: 24px;
    margin-block: 10px;
    padding-right: 13px;
}

.search:focus {outline: none;}

.adv-22:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

.button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.button:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.forms-div{
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;}

.first-div *, .secnd-div *{
    display: inline-block;
    color: #333;
}

.div-adv-11, .div-adv-21{
    vertical-align: middle;
    width: 16%;
    min-height: 42px;
    min-width: 167px;
}

.adv-11 {
    padding: 6px 0px 12px;
    font-size: 16px;
}

.div-adv-12, .div-adv-22{
    min-width: 167px;
    min-height: 41px;
    width: 49%;
    vertical-align: middle;
}

.div-adv-13{
    font-size: 13px;
    font-weight: 700;
    min-height: 42px;
    width: 32%;
    vertical-align: middle;
}

.adv-13{
    text-align: left;
    padding-block: 6px;
    min-height: 30px;
    color: #777;
}

.adv-21{
    font-size: 13px;
    color: #222;
    padding-block: 6px;
}

.adv-22{
    width: 98%;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}

.div-adv-23{
    width: 31%;
    min-width: 160px;
    margin: 0 0 8px 1%;
    color: #555;
    font-size: 11px;
    padding-left: 5px;
    vertical-align: middle;
    position: relative;
}

.mono{
    color: #666;
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
}

.div-button{float: right;}

.button-adv{
    margin: 10px 0px;
    float: right;
    line-height: 100%;
    height: 30px;
    min-width: 120px;
    background-color: #4d90fe;
    border-radius: 2px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #3079ed;
    color: #fff;
}

.button-adv:hover{
    background-color: #357ae8;
    background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
    border: 1px solid #2f5bb7;
    border-image: initial;
}



